.grey{
  background-color:rgb(138, 157, 191);
  font-size: larger;
}

.orangeRed{
  background-color:orangered;
  font-size: larger;
}

body{
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

h1{
  font-size: 10vh;
  color: gray;
}

p{
  font-size: 10vh;
  color: gray;
} 

.bg-body-tertiary{
 background-color:lemonchiffon !important;
 border-radius: 25px;
 width: 90vw;
 margin-left: 4vw;
 margin-top: 3vh;
}

.me-auto{
  background-color:rgba(232, 184, 184, 0.805);
  border-radius: 25px;
}
